<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link href="/style.css" rel="stylesheet" type="text/css">
	<style>
		body 		{ padding-top:100px; }
		html {
			background: url(images/bg.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		.jumbotron { background: hsla(0, 0%, 80%, .5);; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron">
		<h1>phories</h1>
		<p class="lead">Photos with stories</p>
		<div>
			<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Sign in with Twitter</a>
		</div>	
	</div>

</div>
</body>
</html>